.body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}

.box {
    width: 100%;
}

.body h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
}

.w-6 {
    width: 2em;
}

.h-6 {
    height: 2em;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxflex {
    align-content: center;
}
.cursor-pointer {
    cursor: pointer;
}